CI_ENVIRONMENT = development
app.baseURL = 'http://127.0.0.1:8080/'
database.default.hostname = localhost
database.default.database = cobros_dev
database.default.username = cobros_app
database.default.password = ''
database.tests.hostname = localhost
database.tests.database = cobros_test
database.tests.username = cobros_test
database.tests.password = ''
